* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  .divContainer {
    width: 80%;
  }
  
  fieldset {
    display: flex;
    flex-direction: column;
  }
  
  .inputField {
    margin-bottom: 15px;
  }
  