* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    color: white;
}

h2 {
    color: black;
}

img {
    width: 60px;
}

.main-container {
    background-color: #4158D0;
    background-image: linear-gradient(284deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    height: 400px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    /* border: 5px solid black; */
    padding: 20px;
}

.container-1 {
    display: flex;
    flex-direction: column;
    /* border: 5px solid black; */
    padding: 10px;
}

.flex-row-main-container,
.flex-row-reverse-main-container {
    /* border: 5px solid black; */
    margin: 10px;
}

.flex-row-container
.flex-row-reverse-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.flex-row,
.flex-row-reverse {
    display: flex;
    flex-direction: column;
}

.flex-row .boxes-container,
.flex-row-reverse .boxes-container-row-reverse {
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    width: 400px;
}

.flex-row .boxes-container .arrow img {
    transform: rotate(360deg);
    margin-left: 60px;
}

.flex-row .boxes-container {
    display: flex;
    flex-direction: row;
}

.flex-row-reverse .boxes-container-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex-row-reverse .boxes-container-row-reverse .arrow img {
    transform: rotate(-180deg);
    margin-right: 60px;
}

.flex-row .boxes-container .box,
.flex-row-reverse .boxes-container-row-reverse .box {
    width: 50px;
    height: 50px;
    background-image: linear-gradient( 111.4deg,  rgba(238,113,113,1) 1%, rgba(246,215,148,1) 58% );
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 15px;
}

/* Flex column */
.container-2 {
    display: flex;
    flex-direction: row;
    /* border: 5px solid black; */
    padding: 10px;
}

.flex-column-main-container,
.flex-column-reverse-main-container {
    /* border: 5px solid black; */
    margin: 10px;
}

.flex-column-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: row;
}

.flex-column-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex-column .boxes-container,
.flex-column-reverse .boxes-container-column-reverse {
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    height: 350px;
}

.flex-column .boxes-container {
    margin-right: 20px;
}

.flex-column-reverse .boxes-container-column-reverse {
    margin-left: 20px;
}

.flex-column .boxes-container .arrow img {
    transform: rotate(90deg);
    margin-top: 20px;
}

.flex-column .boxes-container {
    display: flex;
    flex-direction: column;
}

.flex-column-reverse .boxes-container-column-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.flex-column-reverse .boxes-container-column-reverse .arrow img {
    transform: rotate(-90deg);
    margin-bottom: 20px;
}

.flex-column .boxes-container .box,
.flex-column-reverse .boxes-container-column-reverse .box {
    width: 50px;
    height: 50px;
    background-image: linear-gradient( 111.4deg,  rgba(238,113,113,1) 1%, rgba(246,215,148,1) 58% );
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 15px;
}

.flex-column-reverse .boxes-container-column-reverse {
    flex-direction: column-reverse;
}

.column-reverse {
    display: flex;
    flex-direction: column-reverse;
}