.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: aquamarine;
    padding: 10px;
    grid-gap: 10px;
}

.container div:nth-child(n) {
    background-color: rgb(109, 110, 106);
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

.item1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 5;
}

.item9 {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 6;
}