* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container {
    display: grid;
    grid-template-rows: 1fr 1fr 5fr 1.7fr 1fr;
    grid-template-columns: 1;
    width: 100%;
    height: 100vh;
}

header,
footer {
    background: yellowgreen;
}

nav {
    background-color: gray;
}

article {
    background-color: bisque;
}

aside {
    background-color: burlywood;
}

/* Media Queries */
@media screen and (min-width: 601px) {

    main {
        grid-template-rows: 1fr 4fr 1fr;
        grid-template-columns: 1fr 3fr 1fr;
    }

    nav {
        grid-row: 1 / 4;
        grid-column: 1 / 2;
    }

    header {
        grid-row: 1 / 2;
        grid-column: 2 / 4;
    }

    footer {
        grid-row: 1 / 2;
        grid-column: 2 / 4;
    }
}