* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Main */
.main-container {
    display: grid;
    grid-template-rows: 50px 1fr 80px;
    grid-template-columns: 120px 1fr 80px;
    grid-gap: 5px;
    height: 90vh;
    border: 2px solid black;
}

.item1 {
    background-color: gray;
    padding: 5px;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
}

.item2 {
    background-color: bisque;
    padding: 5px;
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: 4;
}