* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header,
nav,
article,
aside,
footer {
    padding: 10px;
}

body {
    display: flex;
    flex-direction: row;
}

.container1 {
    width: 20%;
}

.container1 nav {
    background-color: gray;
    width: 100%;
    height: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container3 {
    display: flex;
    flex-direction: column;
}

header,
footer {
    background-color: yellowgreen;
    height: 20vh;
}

main {
    display: flex;
    height: 80vh;
}

article {
    background-color: bisque;
    width: 80%;
}

aside {
    background-color: darkcyan;
    width: 20%;
}

/* @media (max-width: 768px){
    body {
        flex-direction: column;
    }

    .container1 {
        width: 100%;
    }
} */