* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
     font-family: Arial, Helvetica, sans-serif;
}

header,
footer {
    background-color: yellowgreen;
    height: 10vh;
    padding: 10px;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    background-color: bisque;
}

article {
    order: -1;
}

nav,
aside {
    background-color: beige;
    flex: 0 0 20vw;
    padding: 20px;
}

article {
    flex: auto;
    padding: 20px;
}


/* Responsive */
/* media = queries allows you to apply CSS styles depending on the devices general type or other screen resolution or browser viewport width */

@media screen and (min-width: 1366px) {

    main {
        flex-direction: row;
    }

    article {
        order: 0;
    }
     
}