body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Container */
.container {
    width: 100%;
    background-color: #f2f2f2;
}

/* Header */
.header {
    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
    padding: 5px;
    display: flex;
    align-items: center;
}

.header h1 {
    font-size: 34px;
    margin-left: 20px;
    font-family: 'Tilt Prism', cursive;
    color: white;
}

/* Navigation */
.navigation {
    width: 20%;
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);

}

.navigation ul li {
    padding: 10px;
    list-style: none;
    transition: 0.4s;
}

.navigation li:nth-child(n):hover {
    transform: scale(1.3) translate(20px);
    transition: 0.4s;
}

.navigation ul li:hover {
    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
}

.navigation ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: black;
}

.navigation ul li img {
    margin-right: 10px;
}

/* Main Section */
.main {
    display: flex;
}

.section1 {
    width: 80%;
    padding: 10px;
    background: url(images/mainbackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.images-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.images-container .images {
    width: 220px;
    padding: 10px;
    margin: 30px;
    border-radius: 10px;
    background-color: rgb(214, 214, 214);
    transition: 0.3s;
}

.images-container .images img {
    width: 200px;
    height: 200px;
}

.images-container .images:hover {
    transform: scale(1.5);
    transition: 0.4s;
    cursor: pointer;
}

.images-container .images .image-description {
    color: black;
    padding: 5px 0;
}
.section1 h2, p {
    color: rgb(255, 255, 255);
}

/* Footer */
.footer {
    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer h3 {
    padding: 20px;
    color: white;
}